@model Project2WooxTravel.Entities.Admin

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<form method="post">
    <div class="container">
        <br /><br />
        <div class="alert alert-warning"><h3>Kullanıcı Giriş Sayfası</h3></div>
        <label>Kullanıcı Adınız</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        <br />
        <label>Şifreniz</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
    </div>
</form>

<script>
        @if (ViewBag.AlertType == "error")
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: '@ViewBag.AlertMessage',
                    position: 'top-end',
                    showConfirmButton: true,
                    timer: 5000,
                    toast: true,
                });
            </text>
        }
</script>